@{
    ViewBag.Title = "Home Page";
}

<div calss="o1">111</div>
<div calss="o2">222</div>
<button id="b">button</button>

<input type="radio" name="op" value="A"/> A.
<br/>
<input type="radio" name="op" value="B"/> B.
<br/>
<input type="radio" name="op" value="C"/> C.
<br/>
<input type="radio" name="op" value="D"/> D.

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function() {
        $("#b").click(function() {
            if (confirm("是否继续")) {
                alert("zhe");
            }
        });
    });

</script>