@{
    ViewBag.Title = "Home Page";
}

<div calss="oi">111</div>
<button id="b">button</button>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function() {
        $("#b").click(function () {
            $("div").innerHTML="1231";
        });
    });

</script>