@{
    ViewBag.Title = "Home Page";
}

<div calss="o1">111</div>
<div calss="o2">222</div>
<button id="b">button</button>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $(function() {
        $("#b").click(function () {
            $(this).html("11111111111");

        });
    });

</script>